<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Generation de mot de passe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="container">
        <h1>Generation de votre mot de passe</h1>
		<div>
			<h3>Nombre de caractères</h3>
			<input type="text" id="passwordInput" placeholder="Nombre de caractères" />
		</div>
		<div>
			<h3>Autres caractères</h3>
			<div>
				<input type="checkbox" id="majuscule">
				<p>Majuscules</p>
			</div>
			<div>
				<input type="checkbox" id="caractereSpeciaux">
				<p>Caractères spéciaux</p>
			</div>
			<div>
				<input type="checkbox" id="chiffre">
				<p>Chiffres</p>
			</div>
			
		</div>
        <button id="submitBtn">Generer</button>
        <p id="response"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
